{% extends 'base.html' %}

{% block content %}

<h1>{{ pet.name }}</h1>

{% if pet.photo_url %}
<img class="img-fluid" src="{{ pet.photo_url }}">
{% endif %}

<h2>Update</h2>

<div>
    <form id="add-pet-form" method="post"
    class="flex flex-col gap-1.5">
    {{ form.hidden_tag() }}
        {% for field in form
                if field.widget.input_type != 'hidden'%}
    
        <span>
            {{field.label}}
            {{field}}
            {% for error in field.errors %}
            {{field.errors}}
            {% endfor %}
        </span>
        {% endfor %}


        <button type="submit">Add Pet</button>
    </form>
</div>

{% endblock %}